<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
</nav>

<h1>Formação DEV</h1>
<div class="col-md-4" style="margin: auto; margin-top: 150px">
  <a href="{{ texto }}" target="_blank" >Aula 21 Aqui </a> modelo 01<br>
  <a [href]="nova" target="_blank" >Aula 21 Aqui</a> modelo 02<br>
  <a href="https://kennedy.kentec.com.br/teste.php?nome={{nome}}" target="_blank">Teste de arquivo</a>
<br>
  <div style="margin-left: 200px;">
    <iframe style="box-shadow: 0px 0px 10px;" width="560" height="315" [src]="nova" title="{{ title }}"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
